.container-btn{
    width: 100%;
    height: auto;
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.btn-create {
    width: 60px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 90%;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 20px;
    transform: scale(1) rotate(0);
    transition: .3s transform;
    cursor: pointer;
}

.btn-create:hover {
    transform: scale(1.1) rotate(180deg);
}